@import 'vars.css';
@import "style.css";
body{
    position: relative;
    display: flex;

}
.modal{
    position: absolute;
    filter: blur(0.7px);
    z-index: -1;
    width: 100vw;
    height: 100vh;
}
.container-menu{
    position: absolute;
    z-index: 99999;
}
.menu {;
    position: absolute;
    z-index: 9999;
    min-width: 320px;
    padding-right: 24px;
    padding-left: 24px;
    box-shadow: 16px 0px 52px 0px #0E185033,-2px 0px 4px 0px #454F7E05;
    height: 100vh;
}
.cont{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100%;
}

.size_s{
    min-height: 86px;
}
.header-list__item:nth-child(2){
    flex-grow: 1;
    align-self: flex-start;
}
.logo {
    margin-right: 16px;
    flex-grow: 1;
}

.section-menu {
    font-size: 16px;
    display: flex;
    max-height: 1900px;
    margin-left: -24px;
}

.menu__list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    color: var(--text--color);
}

.menu-list__item {
    display: flex;
    align-items: center;
    min-height: 46px;
    flex-grow: 1;
}

.menu-list__link {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.menu-list__link::before {
    content: "";
    display: flex;
    align-self: center;

    width: 3px;
    height: 32px;
}
.menu-list__link:focus::before {
    background: var(--highlight--color);
}

.menu-list__link:hover {
    color: var(--main-text--color);
}

.menu__footer {
    min-height: 243px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.footer-list {
    min-height: 72px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}

.footer-list__item {
    margin-right: 16px;
}

.mailto-link {
    display: flex;
    margin-bottom: 12px;
    font-size: 16px;
    min-height: 24px;
}

.phone-link {
    font-family: "TT Lakes Bold";
    display: flex;
    margin-bottom: 40px;
    font-size: 24px;
    min-height: 32px;
}

.lang-list {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.lang-list__item {
    min-height: 24px;
    min-width: 24px;
    margin-right: 7px;
}

.lang-list_link {
    text-transform: uppercase;
    font-color: var(--text--color);
}
.lang-list_link:hover {
    color: var(--main-text--color);
}
