@import 'vars.css';
@import "style.css";

@font-face {
    font-family: "TT Lakes Bold";
    src: url(assets/fonts/TTLakes-Bold.ttf) format("eot"),
    url(assets/fonts/TTLakes-Bold.ttf) format("woff"),
    url(assets/fonts/TTLakes-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "TT Lakes Medium";
    src: url(assets/fonts/TTLakes-Medium.ttf) format("eot"),
    url(assets/fonts/TTLakes-Medium.ttf) format("woff"),
    url(assets/fonts/TTLakes-Medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "TT Lakes Regular";
    src: url(assets/fonts/TTLakes-Regular.ttf) format("eot"),
    url(assets/fonts/TTLakes-Regular.ttf) format("woff"),
    url(assets/fonts/TTLakes-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

html{
    box-sizing: border-box;
}
*,*::after,*::before {
    box-sizing: inherit;
    /*outline: solid 1px red;*/
}

body{
    position: relative;
    display: block;
    font-family: TT Lakes Regular;
    max-height: 100%;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

ul{
    margin: 0;
    padding: 0;
    padding-left: 24px;
}
li{
    display: block;
    list-style-type: none;
}
a{
    text-decoration: none;
    color: var(--text--color);
}
button{
    border: none;
    outline: none;
    cursor: pointer;
    background-color: initial;
}
.menu_container{
    position: fixed;
}
.navbar{
    position: absolute;
    z-index: 3;
    display: block;
    width: 100%;
    height: 100%;
}
.navbar__container {
    position: absolute;
    display: block;
    overflow: auto;
    max-width: 320px;
    height: 1000vh;
    z-index: 2;
    box-shadow: 16px 0px 52px 0px #0E185033,-2px 0px 4px 0px #454F7E05;
}
.navbar__container::-webkit-scrollbar {
    display: none;
}
.navbar__blur{
    position: absolute;
    display: block;
    overflow: auto;
    min-height: 120vh;
    filter: blur(0.7px);
    z-index: 1;
    width: 100%;
    right: -320px;
}


.navbar-header{
    min-width: 320px;
    background-color: var(--header-color);
}
.navbar-header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 18px;
    padding-right: 24px;
    padding-left: 24px;
    padding-bottom: 18px;
    flex-grow: 1;
}

.navbar-header__item:nth-child(1){
    margin-right: 16px;
}


.btn {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--menu__btn-color);
    border: none;
}
.btn:hover{
    border: 1px solid;
    animation:shadow 1s ease-in-out;
}
.btn:focus {
    border: 1px solid;
}


@keyframes shadow {
    from {
        border: 1px solid;
    }
    50% {
        border: 1px solid;
        box-shadow: 0px 0px 10px 0px rgba(55,66,122,1);
    }
    to {
        border: 1px solid;
        filter:drop-shadow(0 0 4px #0E185033);
    }
}

.btn__burger-befor {
    background-image: url("assets/img/icon/burger-before.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.btn__call {
    background-image: url("assets/img/icon/call.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.btn__message {
    background-image: url("assets/img/icon/message.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.btn__profile {
    background-image: url("assets/img/icon/profile.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.btn__search {
    background-image: url("assets/img/icon/search.svg");
    background-repeat: no-repeat;
    background-position: center;
}


.navbar-header__item:nth-child(2){
    flex-grow: 1;
    align-self: flex-start;
}
.navbar-header__logo {
    display: block;
    width: 100%;
    height: 100%;
    margin-right: 16px;
    flex-grow: 1;
}

.navbar-nav {
    font-size: 16px;
    display: flex;
    max-height: 1900px;
    margin-left: -24px;
}

.navbar-nav__list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    color: var(--text--color);
}

.navbar-nav__item {
    display: flex;
    align-items: center;
    min-height: 46px;
    flex-grow: 1;
}

.navbar-nav__link {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.navbar-nav__link::before {
    content: "";
    display: flex;
    align-self: center;

    width: 3px;
    height: 32px;
}
.navbar-nav__link:focus::before {
    background: var(--highlight--color);
}
.navbar-nav__link:hover {
    color: #ACACB0FF;
}

.navbar-nav__link--active{
    display: flex;
    white-space: nowrap;
    content: "";
    width: 3px;
    height: 32px;
    background: var(--highlight--color);
    color: #ACACB0FF;
}


.navbar-footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 40vh;
}
.navbar-footer__container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
    padding-bottom: 18px;
    padding-right: 24px;
    padding-left: 24px;
}

.navbar-footer__container-btn {
    min-height: 72px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}

.navbar-footer__btn-item {
    margin-right: 16px;
}

.navbar-footer__mailto-link {
    display: flex;
    margin-bottom: 12px;
    font-size: 16px;
    min-height: 24px;
}

.navbar-footer__phone-link {
    font-family: "TT Lakes Bold";
    display: flex;
    margin-bottom: 40px;
    font-size: 24px;
    min-height: 32px;
}

.navbar-footer__container-langs {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.navbar-footer__lang-item {
    min-height: 24px;
    min-width: 24px;
    margin-right: 7px;
}

.navbar-footer__btn-lang {
    min-height: 24px;
    min-width: 24px;
    margin-right: 7px;
    text-transform: uppercase;
    font-color: var(--text--color);
}
.navbar-footer__btn-lang:hover {
    color: var(--main-text--color);
}
