@import 'vars.css';
@import 'fonts.css';

html{
    box-sizing: border-box;
}
*,*::after,*::before {
    box-sizing: inherit;
    /*outline: solid 1px red;*/
}
body{
    box-sizing: inherit;
    font-family: "TT Lakes Regular";
    font-weight: 400;
    margin: 0;
    padding: 0;
    padding-bottom: 27.5px;
}

/*Футер */
.header {
    background-color: var(--header-color);
    overflow-x: hidden;
    min-height: 88px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
li{
    list-style-type: none;
}

.container-list__left, .header-inner__right{
    min-height: 87px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

.container-list__link {
    text-decoration: none;
}

.container-list__item {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: var(--menu__btn-color);
    border: none;
}
.container-list__item_1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 17px;
    margin-left: 16px;
}

.body__divider::before {
    background: var(--divider--color); /* задаём нужный цвет фоном */
    content: ""; /* создаём инлайн объект */
    display: block; /* преобразуем его в блочный */
    top: 0px; /*отступ будет 0 пикселей от верхней точки блока */
}

.body__divider_1 {
    background: var(--divider--color); /* задаём нужный цвет фоном */
    width: 2px;
    height: 32px;
    margin-right: 20px;
}

.body__divider_none {
    display: none;
}

.header-inner__img {
    margin-right: 16px;
}

.container-list__item_2 {
    margin-right: 16px;
    display: none;
}

.container-list__item_3{
    margin-right: 16px;
    display: none;
}
.container-list__item_4{
    display: none;
}
.container-list__item_5, .container-list__item_6{
    margin-right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Переход от header к main */
.shadow {
    margin: 0;
    margin-bottom: 24px;
    padding: 0px;
    border: 0.1px solid var(--nav__main--border-color);
}
/*Контент часть*/
.main {
    margin-bottom: 8px;
}

.main-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.main-title__article-left{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.main-title__article-right{
    display: flex;
    justify-content: center;
    align-items: center;
}

.body__divider_2 {
    border-radius: 0px 50px 50px 0px;
    background: var(--highlight--color); /* задаём нужный цвет фоном */
    width: 4px;
    height: 40px;
    margin-right: 20px;
}

.main-title__title {
    font-family: "TT Lakes Regular";
    font-weight: 700;
    font-size: 28px;
    margin: 0px;
}
.main-title__right{
    /*display: none;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-section{

}

.main-section__navigation {
    display: flex;
    align-content: center;
    font-size: 16px;
    margin: 0px 16px 24px;
    padding: 0px;
    overflow-x: scroll;
    white-space: nowrap;
    flex-flow: row nowrap;
    column-gap: 15px;
}

.main-section__navigation::-webkit-scrollbar {
    display: none;
}

.navigation__btn {
    border: none;
    height: 30px;
    background-color: var(--header-color);
    color: var(--nav__main-text--color);
}
.navigation__btn:hover{
    border: 2px solid var(--nav__main--border-color);
    background: var(--header-color);
    border-radius: 6px;
}

.section-container{
}
.article-text {
    margin: 0px;
    font-size: 14px;
    margin-right: 16px;
    margin-left: 16px;
    margin-bottom: 27.5px;
}
p{
    margin-top: 0px;
    margin-bottom: 16px;
}
.article-text__text_none-1{
}

.main-title__right-none, .article-text__text_none-2, .article-text__text_none-3{
    display: none;
}

.article__read-more-btn {
    width: 132px;
    height: 24px;
    margin-left: 6px;
    padding: 0;
    border: none;
    background-color: var(--header-color);
    font-family: 'TT Lakes Medium';
    font-weight: 700;
    font-size: 14px;
}

.section-container__img {
    display: inherit;
    justify-content: center;
    width: 320px;
    height: 230.8px;
    top: 358.57px;
}

/*Адаптив на 768px*/
@media screen and (min-width: 768px) and (max-width: 1119px) {
    .header{
        min-width: 768px;
        min-height:88px;
    }
    .container-list__item_1{
        margin-right: 20px;
    }
    .container-list__item_2, .container-list__item_3 {
        margin-right: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .body__divider_1 {
        margin-left: 20px;
    }
    .container-list__item_4{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main-title {
        margin-bottom: 32px;
    }
    .main-title__none{
        display: none;
    }
    .main-section{
        margin-left: 24px;
        margin-right: 40px;
        margin-bottom: 40px;
    }
    .main-section__navigation {
        margin-bottom: 32px;
    }

    .article-text__text_none-1{
        display: none;
    }
    .body__divider_none, .article-text__text_none-2, .navigation__btn_none {
        display: inherit;
    }
    .article-text{

    }
    .section-container{
        display: flex;
        justify-content: space-around;
    }
    .article__read-more-btn_img{
        margin-right: 15px;
    }
    .section-container__img{
        height: 208px;
        width: 360px;
        top: 256px;
        left: 384px;
        border-radius: 6px;
    }
}

/*Адаптив на 1120px*/
@media screen and (min-width: 1120px) {
    header, .shadow, .article-text__text_none-1{
        display: none;
    }
    .body__divider_none, .article-text__text_none-3, .navigation__btn_none {
        display: inherit;
    }
    .main{
        padding-top: 42px;
        max-width:1120px;
        min-height: 535px;
        margin:auto;
    }
    .main-section{
        margin-right: 29px;
        margin-left: 34px;
        margin-bottom: 49px;
    }
    .navigation__btn{
        margin-bottom: 5px;
    }
    .last-item{
        display: flex;
        align-items: center;
        order: 1;
    }
    .main-title {
        margin-bottom: 8px;
    }
    .main-title__none{
        display: inherit;
    }
    p{
        margin: 0;
        padding: 0;
    }
    .main-title__article-right{
        display: flex;
        column-gap: 15px
    }
    .main-section__navigation {
        display: inline-block;
        max-width: 1120px;
        height: 21%;
        overflow-x: hidden;
        margin-bottom: 31px;
        white-space: nowrap;
        flex-wrap: wrap;
        column-gap: 15px;
    }
    .article-text{
        margin-right: 36px;
    }
    .section-container{
        display: flex;
        justify-content: space-around;
    }
    .section-container__img{
        width: 531.35px;
        height: 307px;
        top: 179px;
        left: 561px;
        border-radius: 6px;
    }
}
