@font-face {
    font-family: "TT Lakes Bold";
    src: url(assets/fonts/TTLakes-Bold.ttf) format("eot"),
    url(assets/fonts/TTLakes-Bold.ttf) format("woff"),
    url(assets/fonts/TTLakes-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "TT Lakes Medium";
    src: url(assets/fonts/TTLakes-Medium.ttf) format("eot"),
    url(assets/fonts/TTLakes-Medium.ttf) format("woff"),
    url(assets/fonts/TTLakes-Medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "TT Lakes Regular";
    src: url(assets/fonts/TTLakes-Regular.ttf) format("eot"),
    url(assets/fonts/TTLakes-Regular.ttf) format("woff"),
    url(assets/fonts/TTLakes-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

html{
    box-sizing: border-box;
}
*,*::after,*::before {
    box-sizing: inherit;
    /*outline: solid 1px red;*/
}
body{
    position: relative;
    font-family: TT Lakes Regular;
    font-weight: 400;
    margin: 0;
    padding: 0;
    /*padding-bottom: 27.5px;*/
}
ul{
    margin: 0;
    padding: 0;
    padding-left: 24px;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: var(--text--color);
}
button{
    border: none;
    outline: none;
    cursor: pointer;
    background-color: initial;
}
.header{
    min-width: 320px;
    background-color: var(--header-color);
}
.header__container{
    display: flex;
    padding-top: 18px;
    padding-right: 24px;
    padding-left: 24px;
    padding-bottom: 18px;
    flex-grow: 1;
}
.header-list, .main-header-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
}
.header-list__item:nth-child(1){
    margin-right: 16px;
}
.btn {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--menu__btn-color);
    border: none;
}

.btn:hover{
    border: 1px solid;
    animation:shadow 1s ease-in-out;
}
.btn:focus {
    border: 1px solid;
}

@keyframes shadow {
    from {
        border: 1px solid;
    }
    50% {
        border: 1px solid;
        box-shadow: 0px 0px 10px 0px rgba(55,66,122,1);
    }
    to {
        border: 1px solid;
        filter:drop-shadow(0 0 4px #0E185033);
    }
}
