:root {
    --menu__btn-color: #FF3E79;
    --header-color: #FFFFFF;
    --main--color: #F8F8F8;
    --text--color: #000000;
    --main-text--color: #acacb0;
    --nav__main--border-color: #B8FFEC;
    --highlight--color: #41F6D7;
    --divider--color: #EAEAEA;
}
