.btn-more{
  display: block;
  cursor: pointer;
  border: none;
  &__container {
    position: relative;
    margin: 10px 0 0 25px;
    padding-bottom: 10px;
    font-family: $fonts;
    font-size: $sectionTitleRem;
    font-weight: $fontRegular;
    background: none;
  }
  
}
