.container-pages {
  position: relative;
  min-height: 100%;
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  background-color: $backgroundColorMain;

  @media (min-width: $screen-xxl) {
    max-width: 1440px;
  }
}
