.navbar-nav {
  display: flex;
  max-height: 1900px;
  font-size: $sectionTitleRem;
  &__list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    color: $difTextColor;
  }

  &__item {
    display: flex;
    align-items: center;
    height: 46px;
    flex-grow: 1;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
  }
  &__link::before {
    display: flex;
    white-space: nowrap;
    content: "";
    height: 46px;
    width: 4px;
    border-radius: 0px 50px 50px 0px;
  }

  &__link:focus::before {
    background: $highlightColor;
  }
  &__link:hover {
    color: $sectionTextColor;
  }
  &__item--active {
    display: flex;
    white-space: nowrap;
    content: "";
    height: 46px;
    width: 4px;
    border-radius: 0px 50px 50px 0px;
    background: $highlightColor;
  }
}
