.navbar {
  position: fixed;
  display: block;
  z-index: 2;
  width: 320px;
  transform: translateX(0);
  &__container {
    position: absolute;
    display: block;
    background-color: $backgroundСolorBody;
    max-width: 320px;
    height: 1000vh;
    box-shadow: 16px 0px 52px 0px #0E185033,-2px 0px 4px 0px #454F7E05;
  }
  &__container::-webkit-scrollbar {
    display: none;
  }
  @media screen and (min-width: $screen-xl){
    transition: all 1s ease;
    transform: translateX(0px);
    &__container {
      box-shadow: 16px 0px 52px 0px #0E185033,-2px 0px 4px 0px #454F7E05;
    }
  }
  @media screen and (max-width: $screen-xl){
    transition: all 1s ease;
    transform: translateX(-320px);
    box-shadow: none;
  }
  &__btn--active{
    transition: all 1s ease;
    transform: translateX(0px);
    box-shadow: 16px 0px 52px 0px #0E185033,-2px 0px 4px 0px #454F7E05;
  }
}

