.navbar-footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 40vh;
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
    padding-bottom: 18px;
    padding-right: 24px;
    padding-left: 24px;
  }

  &__container-btn {
    min-height: 72px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
  }

  &__btn-item {
    margin-right: 16px;
  }

  &__mailto-link {
    display: flex;
    margin-bottom: 12px;
    font-size: 16px;
    min-height: 24px;
  }

  &__phone-link {
    font-family: $fonts;
    font-weight: $fontBold;
    display: flex;
    margin-bottom: 40px;
    font-size: 24px;
    min-height: 32px;
  }

  &__container-langs {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin: 0;
    padding: 0;
  }

  &__btn-lang {
    min-height: 24px;
    min-width: 24px;
    margin-right: 7px;
    text-transform: uppercase;
    font-color: $sectionTextColor;
  }
  &__btn-lang:hover {
    color: $sectionTextColor;
  }
  navbar-footer__btn-lang--active{
    color: $sectionTextColor;
  }

}
