.section-headline {
  display: block;
  width: 105%;
  text-transform: uppercase;
  font-weight: $fontNormal;
  font-size: $sectionTitleRem;
  line-height: $standartLineH;
  color: $formTextApprovalColor;
  background: linear-gradient(90deg, $backgroundColorMain 0%, $backgroundСolorBody 98.61%);
  padding: 16px;
  padding-left: 32px;
  margin-left: -16px;
  margin-right: 32px;
  border-top: 1px solid $navMainBorderColor;

  @media (min-width: $screen-md) {
  }
  @media (min-width: $screen-xl) {
    padding-left: 48px;
  }
}
