.service-page{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 1120px;
  right: -320px;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  @media screen and (max-width: $screen-xl){
    transition: all 1s ease;
    right: -320px;
  }
  @media screen and (max-width: $screen-xl){
    transition: all 1s ease;
    right: 0;
  }
}
