$backgroundColorMain: #F8F8F8;
$backgroundСolorBody: #fff;

//Color
$h1Color: #1B1C21;
$difTextColor: #1B1C21;
$sectionTextColor: #7E7E82;
$formBorderColor: #EAEAEA;
$formInputTextColor: #B5B6BC;
$formTextApprovalColor: #7E7E82;
$formTextLinkColor: #FF3E79;
$formBtnColor: #FF3E79;
$TableColor: #fff;
$navMainBorderColor: #B8FFEC;
$highlightColor: #41F6D7;

//font-weight
$fontNormal: 400;
$fontRegular: 500;
$fontBold: 700;

$fonts: "TT Lakes";


//font-size
$standartRem: 1rem;
$h1Rem: 1.75rem;
$pRem: 0.875rem;
$sectionTitleRem: 1rem;
$modalTittleRem: 1.5rem;

//line-height
$standartLineH: 24px;
$h1LineH: 40px;
$telLineH: 32px;

//screen wigth
$screen-sm: 320px;
$screen-md: 768px;
$screen-xl: 1120px;
$screen-xxl: 1400px;
